#map {

    height: 500px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

  }

  .jumbotron {

    padding: 10px;
    border-style: solid;
    border-width: 1px;

  }

  body {

    background-color: #e3f2fd;
    padding: 0px;
    margin: 0px;

  }

  .btn {
      vertical-align: top;
      margin: 5px;
    }
    